@using Vidly.Models

@{ 
    ViewBag.Title = "MovieList";
}

<h2>List Movies: </h2>
<a href="/Movie/NewMovie"><button class="btn btn-primary">New Movie</button></a>
<hr/>
<table>
    <tr>
        <td>Name</td>
        <td>Genre</td>
        <td>Released Date</td>
        <td>Num in Stock</td>
    </tr>
    @foreach(Movie movie in ViewBag.Movies)
    { 
            <tr>
                <td><a href="/Movie/MovieDetail/@movie.Id">@movie.Name</a></td>
                @if (@movie.GenreId != null)
                {
                    <td>@movie.Genre.Name</td>
                }
                else
                {
                    <td>null</td>
                }
                <td>@movie.ReleaseDate.ToString("dd-MMM-yyyy")</td>
                <td>@movie.NumInStock</td>
            </tr>
    }
</table>
